.form-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}

.form-title {
  width: 100vw;
  font-size: 1.3em;
  background-color: white;

  @media (min-width: "1024px") {
    width: 30vw;
    left: 35vw;
  }

  @media (min-width: "1440px") {
    width: 25vw;
    left: 37.5vw;
  }

  @media (min-width: "2560px") {
    width: 35vw;
    left: 35vw;
  }
}

.form-description {
  width: 100vw;
  font-size: 1.3em;
  background-color: white;
  @media (min-width: "1024px") {
    width: 30vw;
    left: 35vw;
  }

  @media (min-width: "1440px") {
    width: 25vw;
    left: 37.5vw;
  }

  @media (min-width: "2560px") {
    width: 35vw;
    left: 35vw;
  }
}

.form-level {
  width: 100vw;
  background-color: white;
  font-size: 1.3em;
  margin-bottom: 50px;
  @media (min-width: "1024px") {
    width: 30vw;
    left: 35vw;
  }

  @media (min-width: "1440px") {
    width: 25vw;
    left: 37.5vw;
  }

  @media (min-width: "2560px") {
    width: 35vw;
    left: 35vw;
  }
}

.form-button {
  border-radius: 10px;
  background-color: white;
  font-size: 1.5em;
  font-family: "Big Shoulders Text", cursive;
  margin-top: 30px;
  width: 50vw;
  margin-left: 80px;

  @media (min-width: "425px") {
    width: 30vw;
    margin-left: 35vw;
  }

  @media (min-width: "1024px") {
    width: 30vw;
    margin-left: 35vw;
  }

  @media (min-width: "1440px") {
    width: 25vw;
    margin-left: 37vw;
  }

  @media (min-width: "2560px") {
    width: 35vw;
    margin-left: 35vw;
  }
}
