.header-container {
  background: rgb(226, 62, 89);
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-container__title {
  text-decoration: none;
  h1 {
    margin: 0;
    color: white;
    font-size: 1em;
  }

  @media (min-width: "1024px") {
    h1 {
      font-size: 2.5em;
    }
  }

  @media (min-width: "1440px") {
    h1 {
      font-size: 2.8em;
    }
  }

  @media (min-width: "2560px") {
    h1 {
      font-size: 3em;
    }
  }
}

.header-container__create {
  h1 {
    color: white;
    font-size: 1em;
  }

  @media (min-width: "1024px") {
    h1 {
      font-size: 2.5em;
    }
  }

  @media (min-width: "1440px") {
    h1 {
      font-size: 2.8em;
    }
  }

  @media (min-width: "2560px") {
    h1 {
      font-size: 3em;
    }
  }
}

.header-logout-button {
  padding-top: 5px;
  margin-right: 15px;
  font-size: 1em;
  font-family: "Big Shoulders Text", cursive;
  color: white;
  @media (min-width: "1024px") {
    font-size: 2.5em;
  }

  @media (min-width: "1440px") {
    font-size: 2.8em;
  }

  @media (min-width: "2560px") {
    font-size: 3em;
  }
}

.content-container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 10px;
}
